/* *
*login form app .css 
*/

.login_container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:lightgray;
  height: 588px;
  background-image: url("./assets/teju.jpg");
}
.fogot-div{
  cursor: pointer;
   color: currentColor;
}
.MuiAvatar-colorDefault {
  color: #fafafa;
  background-color: lightcoral;
}
.account {
  margin-top: 2px;
  width: 107%;
  height: 99%;
}
.acnt-btn-div{
  height: 25px;
    width: 243px;
    margin-top: 34px;
    margin-left: 35px;
}
.login_card-div {
  background-color: lightpink;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    height: 26em;
    width: 52vh;
    margin-top: -22px;
    background-image: url("./assets/abc.jpg");
} 
.register{
  margin-top: -21px;
  margin-left: -50px;
}
.login{
  margin-top: -21px;
  margin-left: -50px;
} 
.card-inner-div{
  display: flex;
  align-items: center;
  flex-direction: column;
  
}
.card_getNote {
  padding: 8px;
  width: 458px;
}
#forgot-btn {
  width: 227px;
  height: 30px;
  background-color: rgba(63, 81, 181, 0.5);
}
#register_Btn{
  width: 230px;
  margin-bottom: 20px;
  height: 30px;
  background-color: rgba(63, 81, 181, 0.5);
}
.pushpin-img{
  height: 22px;
  width: 23px;
}
.pindrop-img{
  height: 22px;
  width: 23px;
}
/**
*drawercomponent css
**/
/* #abcd1{
  height: 24px;
  width: 99px;
}
#labelssize1{
  margin-top: 1px;
    margin-left: -10px;
    font-size: small;
} */
#abcd1 {
  border-radius: 71px;
  width: 200px;
  height: 38px;
  margin-left: -13px;
}
.drawer{
  transform: none;
  transition: transform 225ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  height: 648px;
}
/* .getting_labels_inDrawercomponent {
  display: flex;
  height: 26px;
  width: 150px;
  margin: auto;
  margin-left: 24px;
} */
.labelbtnicon {
  margin-top: -4px;
  margin-left: 30px;
}
#labelssize1 {
  margin-left: 30px;
  display: flex;
  margin-block-start: -1px;
}
.MuiDrawer-paperAnchorLeft {
  top: 64px;
  left: 0;
  right: auto;
  height: 566px;
  width: 200px;
}
#name{
  margin-left: 25px;
}
/*****************************************************************
/**
*signout page
***/
#manageaccount{
  /* height: 28px; */
  margin-bottom: 11px;
  background-color: lightgray;
}
#btns0{
  margin: auto;
}
#manage-div-btn {
  margin: auto;
  margin-block-start: -22px;
  margin-left: -42px;
}
#acnt-div-btn {
  height: 31px;
  margin-left: -19px;
  margin-bottom: 10px;
  margin-top: 8px;
}
.accounttext{
  margin-block-start: -21px;
}
.accounticon{
  margin-block-start: -23px;
    margin-left: -49px;
}
#signout-btn {
  margin-top: 10px;
  background-color: lightgrey;
}
#div-sign {
  margin: auto;
  margin-block-start: -12px;
  margin-inline-start: -41px;
}
/*******************************************************************/

/**
*registration card css
*/

#registration_modules{
  padding-top: 6px;
}
.registration-div {
  flex-direction: column;
  display: flex;
  align-items: center;
  align-content: center;
  width: 259px;
  height: 238px;
  /* padding: 10.5px 14px; */
  padding: 3.5px 14px;
}
.MuiCard-root {
    overflow: hidden;
    background-color: rgba(0,0,0,0.2);
}
#btn{
  width: 230px;
  margin-left: 32px;
  margin-right: 30px;
  margin-bottom: 20px;
  height: 30px;
  background-color: rgba(63, 81, 181, 0.5);
}
.submit_Btn{
  margin-left: 10px;
    margin-top: 1px;
   size: a3;
   height: 32px;
}
.MuiButton-containedPrimary {
  color: rgba(0, 0, 0, 0.87);
  background-color: rgb(245, 241, 241);
}

.forgot_password{
  justify-content: center;
  height: "20px";
  margin-top: 0px;
  margin-left: 10px;
}
.login_Btn{
  justify-content: center;
  height: 2e;
  width: 20vh;
  background-color: lightcoral;
}
.registration-card{
  overflow: hidden;
    /* margin-top: 47px; */
    width: 332px;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 83px;
    height: 461px;
    background-image: url("./assets//teju.jpg");
}
.Registration_Btn{
  justify-content: center;
  height: 2e;
  width: 20vh;
}

.cancel_Btn{
  justify-content: center;
  height: 2e;
  width: 4vh;
}
 .MuiOutlinedInput-input {
    padding: 10.5px 14px;
}
.register_id{
  padding: 80px 47px;
}
.register-divtag {
  margin-top: -23px;
  margin-left: -50px;
  width: 187px;
  padding: 2px;
  background-color: lightcoral;
}
.outlined-basic{
  padding: 9.5px 13px;
}
/* .cancel{
  margin-top: -21px;
  margin-left: -50px;
} */
.login-div {
  margin-top: -20px;
  margin-left: -48px;
  width: 50px;
  padding: 2px;
  background-color: slateblue;
}
.form-group {
  margin-left: 1px;
  margin-top: 93px;
}
#rgst{
height: 0em;
}

/***************************************************/
/*forgot password  app.css
*/

.login_container-forgot {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 580px;
  width: 1256px;
  background: blanchedalmond;
}
.forgot_card-card{
  height: 231px;
    width: 356px;
    background-color: rgb(185, 48, 48);
}
.abcd{
  margin-left: 126px;
}
.efgh{
  margin-left: 66px;
}
.hfgh {
  padding: 32px;
  margin-left: 112px;
}
.sub{
  margin-top: -10px;
    margin-left: -41px;
    color:black;
}
#noteicon-btn {
  width: 216px;
  height: 47px;
  border-radius: 88px;
  margin-left: -16px;
}
.noteicon {
  margin: auto;
  margin-left: 34px;
  margin-top: 2px;
}
.notetext {
  margin: auto;
  margin-left: -43px;
  margin-top: 2px;
  text-transform: capitalize;
}
#remindericon-btn{
  width: 216px;
  height: 47px;
  border-radius: 88px;
  margin-left: -16px;
}
.remaindertext {
  margin: auto;
  margin-left: -12px;
  margin-top: 2px;
  text-transform: capitalize;
}
.remaindericon{
  margin: auto;
  margin-left: 34px;
  margin-top: 2px;
}
#editlabelicon-btn{
  width: 216px;
  height: 47px;
  border-radius: 88px;
  margin-left: -16px;
}
#editlabelicon {
  margin-left: -113px;
}
#archivicon-btn{
  width: 216px;
  height: 47px;
  border-radius: 88px;
  margin-left: -16px;
}
.archeivetext {
  margin: auto;
  margin-left: -25px;
  margin-top: 2px;
  text-transform: capitalize;
}
.archeiveicon{
  margin: auto;
  margin-left: 34px;
  margin-top: 2px;
}
#trashicon-btn{
  width: 216px;
  height: 47px;
  border-radius: 88px;
  margin-left: -16px;
}
.trashicon{
  margin: auto;
  margin-left: 34px;
  margin-top: 2px;
}
.trashtext{
  margin: auto;
  margin-left: -43px;
  margin-top: 2px;
  text-transform: capitalize;
}
/****************************************************************/
/*fundoonotes app.css
*/
     .toolbar {
      background:white;
      height: 56px;
      }
      .toolbar__logo{
      margin-left: 1rem;
      }
      .toolbar__logo a{
      color:white;
      text-decoration: none;
      font-size: 1.5rem
      }
      .spacer{
      flex: 0.75;
      }
      .label bar{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }
      /*  */
      .toggle-button{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 28px;
      width: 34px;
      background:transparent;
      border: none;
      cursor: pointer;
      padding: 0;
      box-sizing: border-box
      }
      .toggle-button:focus{
      outline: none;
      }
      .toggle-button_line{
      width: 20px;
      height: 4px;
      background:black;
      }
      .fundooimage{
        width: 4%;
        height: 40px;
      }
      .icons {
        display: flex;
        height: 30px;
        width: 440px;
        font-size: smaller;
    }
      
      .MuiDrawer-paperAnchorLeft {
        top: 67px;
        left: 0;
        right: auto;
        height: 373px;
        width: 180px;
    }
  
    .search_box {
      display: flex;
      align-items: center;
      border: 1px solid;
      padding: 2px;
      border-radius: 11px;
      width: 582px;
      color: #f5f5f5;
      margin: 29px;
      background-color: lightgray;
      height: 38px;
  }
  
  .searchIcon{
    color:#e0e0e0;
  }
   .menuButton {
      margin-left: 10px;
      margin-right: -43px;
  }
.profilepage {
  width: 277px;
  height: 100%;
  text-align: center;
}
.visible-icons{
  display: flex;
    justify-content: center;
    padding: 0px;
}
.MuiButton-label {
  width: 100%;
  display: inherit;
  align-items: inherit;
  justify-content: inherit;
  text-transform: capitalize;
}
.MuiButton-label {
  width: 100%;
  display: inherit;
  align-items: inherit;
  text-align: center;
  justify-content: inherit;
  margin-left: 48px;
  margin-top: 18px;
}
.navigationbar {
  top: 60px;
  left: 0;
  right: auto;
  height: 381px;
  width: 177px;
  /* background: aquamarine; */
}
.element.style {
  display: flex;
}
.input-text{
  color: black;
  outline: none;
   border: none;
}
/************************************************
*notecard css
*/
.notecard {
  background: white;
  width: 500px;
  height: 45px;
  border: 1px solid;
  border-color: #e0e0e0;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  text-align: center;
  margin-block-start: 6em;
  box-shadow: 1px 2px lightgrey;
}
  /* .MuiButton-text {
    padding: 0px 0px;
} */

  .take_note {
    color: gray;
    margin-left: 12px;
}
  .take_title{
  margin-top: 8px;
  margin-left: 25px;
  }
.trash-btn{
  display: flex;
   width: 59px;
}
.alert{
  height: 47px;
   width: 44px;
}
  .take_Note{
      color: gray;
      margin-right: 20px;
      margin-left: 15px;
      margin-top: 10px;
  }
  .paintIcon{
    margin-top: -23px;
    color: silver;
  }
  .cropIcon{
    margin-top: -5px;
    color: silver;
  }
  .MuiButton-text {
    color: silver;
    margin-left: 141px;
  }
  .icons {
    font-size: xx-large;
    display: flex;
    flex-direction: inherit;
    align-items: center;
    justify-content: space-around;
}
.checkCircleicon{
  font-size: 1px;
}
.painticon{
  font-size: 1px;
}
.cropicon{
  font-size: 1px;
}

  .notecard2 { 
    width: 31em;
    height: 133px;
    border-radius: 17px;
    border: 1px solid rgb(224, 224, 224);
    margin: auto;
    margin-block-start: 46px;
}
.note-card-div {
  /* transition: box-shadow,3s; */
  align-items: center;
  border: 1px solid;
  border-radius: 5px;
  width: 500px;
  justify-content: center;
  border-color: lightgray;
  height: 63px;
  margin: auto;
  height: auto;
  flex-direction: column;
  box-shadow: 0 0 3px black;
}
/* .note-card-div::hover{
  box-shadow: 0 0 11px black;
  visibility: visible;
} */
.carg_getNote{
  width: 550px;
  height: 155px;
}
.Icons{
  display: flex;
}
.alertpage{
  height: 312px;
  width: 278px;
  background-color: #f5f5f5;
}

.button{
  width: 278px;
}
.note-paper{
  width: 140px;
  height: 105px;
}
.notemore-div{
  display: flex;
  flex-direction: column;
}
/**
*more icon app.css
**/
.more-paper {
  width: 148px;
  height: 100%;
}
#delete-lable-button{
  height: 26px;
  width: 149px;
}
#addDrawing-lable-button{
  height: 26px;
  width: 149px;
}
/* #lablebutton{
  height: 26px;
  width: 149px;
}
#lablebutton{
  height: 26px;
  width: 149px;
}
#lablebutton{
  height: 26px;
  width: 149px;
}
#lablebutton{
  height: 26px;
  width: 149px;
} */
.delete{
  margin-left: -109px;
  margin-top: -23px;
}
.labeladd{
  margin-left: -124px;
  margin-top: -23px;
}
.adddrawing{
  margin-left: -107px;
  margin-top: -23px;
}
.makeacopy{
  margin-left: -105px;
  margin-top: -23px;
}
.showtick{
  margin-left: -85px;
  margin-top: -23px;
}
.googledocs{
  margin-left: -64px;
  margin-top: -23px;
}
.title_icons {
  padding-left: 110px;
}
/**************************/
/*getnote card css
*/

#getNotes-align{
  display: flex;
 flex-direction: row;
 justify-content: space-between;
}
.getnote-divcard{
  width: 30%;
}
.getnoteicons{
  display: flex;
}
.MuiDrawer-paperAnchorLeft {
  top: 64px;
  left: 0;
  right: auto;
  height: 596px;
}
#allNotes {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  width: 38em;
  height: 133px;
  margin: auto;
  margin-block-start: 46px;
}
#listviewGrid {
  width: 283px;
}
.dailogue-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: xx-large;
}
  .undo-redo-close{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 54px;
  width: 177px;
  }
  .dailogue-icons-div {
    transition: box-shadow,3s;
    display: flex;
    align-items: center;
    flex-direction: row;
    visibility: hidden;
    width: 275px;
    justify-content: center;
    justify-content: space-between;
    margin-block-start: 39px;
    margin-left: -9px;
}
  .dailogue-icons-div::hover{
    box-shadow: 0 0 11px black;
    visibility: visible;
    
  }
  .note-card-div:hover .dailogue-icons-div{
    visibility: visible;
  }
  /* #pin-btn{
    margin-top: -204px;
    margin-left: 240px;
  } */
  /**
  *archive note css
  */
  .archive-notecard-div {
    width: 359px;
    margin: auto;
    margin-block-start: 8px;
    display: flex;
}
  .Getnotes{
    display: flex;
    margin: auto;
    margin-block-start: 27px;
  }
  .archive-card {
    width: 393px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: auto;
    margin-block-start: 15px;
}
.dailogue-icons-divcard{
  flex-direction: row;
  display: flex;
  visibility: hidden;
}
.dailogue-icons-divcard::hover{
  visibility: visible;
}
.archive-notecard-div:hover .dailogue-icons-divcard{
  visibility: visible;
}
/*
*delete note css
*/

.delete-card-div {
  width: 410px;
  height: 119px;
  /* display: flex; */
  justify-content: center;
  margin: auto;
  margin-block-start: 26px;
  padding-left: 15px;
}
.deleteicons{
  visibility: hidden;
}
.deleteicons::hover{
  visibility: visible;
}
.delete-notecard-div:hover .deleteicons{
  visibility: visible;
}
.deleteicons{
  padding:0px;
}
/**
*reminder app.css
*/
.reminder-poper-paper{
  z-index: 9999;
}
.more-poper-Paper{
  z-index: 9999;
}
.colorList{
  font-size: "large";
}

.noteCard-div{
  display: "flex" 
}
.datepaper {
  height: 110px;
  width: 218px;
}
.btns-div {
  height: 28px;
  margin-block-start: 17px;
  margin-left: 10px;
}
.cancel-btn{
  height: 38px;
}
.save-btn{
  height: 38px;
}
.cancel-div{
  margin-top: -15px;
  margin-left: -38px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.save-div{
  margin-top: -15px;
    margin-right: 32px;
}
.reminder-paper {
  display: flex;
  flex-direction: column;
  width: 288px;
  align-items: flex-start;
}
.reminder-btns {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* width: 351px; */
}
#button1 {
  width: 289px;
  height: 32px;
}
#inner_date_and_time {
  font-size: smaller;
  margin-block-start: 20px;
}
.close-btn{
  font-size: inherit
}
#remainder-div-btns {
  display: flex;
  flex-direction: column;
  height: 61px;
  width: 289px;
}
.today {
  margin: auto;
  margin-block-start: -5px;
  margin-left: -3px;
  text-transform: capitalize;
}
.Tomarrow1 {
  margin: auto;
  margin-block-start: -5px;
  margin-left: -3px;
  text-transform: capitalize;
}
#time-date-btn {
  width: 289px;
  height: 31px;
}
#selecttime-div {
  margin: auto;
  margin-block-start: -24px;
  margin-left: -42px;
  text-transform: capitalize;
}
/* #pinned-div-component{
  margin-left: 52px;
  margin-top: -6px;
}
#others-div-component{
  margin-left: 52px;
    margin-top: -6px;
} */
#inner_map_function {
  display: flex;
  flex-direction: row;
  margin-block-start: -53px;
  padding-left: 12px;
}
#labelssize {
  width: 54px;
  padding: 0px;
  font-size: small;
  padding-left: 11px;
}
.chip-div{
  display: inline-flex;
    flex-direction: row;
    background-color: #e5e5e5;
    border: none;
    cursor: default;
    height: 23px;
    outline: none;
    padding: 0;
    font-size: 10px;
    font-color: #333333;
    font-family:"Open Sans", sans-serif;
    white-space: nowrap;
    align-items: center;
    border-radius: 16px;
    vertical-align: middle;
    text-decoration: none;
    justify-content: center;
}
.editLabelComponent{
  width: 148px;
    height: 27px;
}
.editLabelComponent1{
  margin-block-start: -22px;
    margin-left: -119px;
}
#label_note {
  display: flex;
  justify-content: center;
  align-items: stretch;
  height: 27px;
}
.labelcomponent{
  height: 24px;
}
.chip-div{
  width: 76px;
    height: 19px;
}

/* #edit-lables {
  display: flex;
  margin-left: -28px;
} */
.filled_label_icon{
  display: flex;
}
.editlabel2 {
  margin: auto;
  margin-left: 46px;
  margin-top: -34px;
  text-transform: capitalize;
}

/*
*colorcomponent app.css
*
**/

#colorpaper {
  width: 126px;
  height: 77px;
}
/* 
*reminder app.css
 */

 .remainder_note-card-div {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 366px;
  justify-content: center;
  height: 56px;
  visibility: hidden;
}
.remainder_note-card-div::hover{
  visibility: visible;
}
.getnotecomponetnotecardremainder:hover .remainder_note-card-div{
  visibility: visible;
}
.getnotecomponetnotecardremainder {
  display: flex;
  margin: auto;
  margin-block-start: 33px;
  width: 33em;
  height: auto;
  border-radius: 5px;
  border: 1px solid;
  border-color: #e0e0e0;
}

#take_note3{
  padding-left: 14px;
}


/*
*label component css
*/
#labelComponent-card {
  height: 100%;
  width: 294px;
  display: flex;
  align-items: center;
  margin: auto;
  margin-block-start: 36px;
}
#take_note_labelcomponent{
  display: flex;
    flex-direction: column;
    margin-block-start: -59px;
    padding-left: 10px;
}
.note-card-div-label{
  display: flex;
    flex-direction: row;
    align-items: center;
    margin-block-start: 102px;
    margin-left: -204px;
}
#inner_take_note_labelcomponent {
  display: flex;
  flex-direction: column;
  margin-block-start: -82px;
  margin-left: 13px;
}
.date_and_time{
  justify-content: center;
}
#inner_date_and_time {
  font-size: smaller;
  margin-block-start: 18px;
  padding-left: 14px;
}


.note-card-div-label{
  visibility: hidden;
}
.note-card-div-label::hover{
  visibility: visible;
}
#labelComponent-card:hover .note-card-div-label{
  visibility: visible
}


.getcard-div{
  margin-top: 13px;
  transition: box-shadow .3s;
}
.getcard-div:hover .note-card-div{
  visibility: visible;
}
.getcard-div:hover{
  box-shadow: 0 0 11px rgba(33,33,33,.2); 
}


@media screen and (max-width:678px){
.body{
  width: 95vh;
    height: 100vh;
}
#dashboard-appbar{
  width: 107vh;
  height: 100vh;
}
}