.login_container{
   display:flex;
   justify-content: center;
   align-items:center ;
   height: 100vh;
}
.login_card{
  width:30em ;
  height: 60vh;
  color: rgb(0, 59, 252);
}
.submit_Btn{
  display: flex;
  justify-content: center;
  align-items:center ;
  color:crimson;
  font-size:small;
  white-space: nowrap;
  word-spacing: inherit;
}
.forgot_password{
  justify-content: center;
  height: "20px";
}
.login_Btn{
  justify-content: center;
  height: 2e;
  width: 20vh;
  background-color: lightcoral;
}
/**/
.Registration_container{
  display:flex;
  justify-content: center;
  align-items:center ;
  height: 100vh;
}
.submit_Btn{
  display: flex;
  justify-content: center;
  align-items:center ;
  color:crimson;
  font-size: large;
  white-space: nowrap;
  word-spacing: inherit;
}
.forgot_password{
  justify-content: center;
  font-size: inherit;
}
.Registration_Btn{
  justify-content: center;
  height: 2e;
  width: 40vh;
}
.Registration_card{
  justify-content: center;
  width:10em ;
  height: 60vh;
  color: rgb(0, 59, 252);
}
.cancel_Btn{
  justify-content: center;
  height: 2e;
  width: 4vh;
}